/* ------------------[WHOLE CONTAINER STYLE]-------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* ------------------------[COLOURS SECTION]-----------------------------*/
:root{
    --primary-font-color: #000000;
    --button-background-color: #010101;
    --light-grey-color: #EDEDED;
    --button-background-color: #000000;
    --button-word-color: #FFFFFF;
    --white-color: white;
}
a{
    color: var(--primary-font-color);
}
.button-styling{
    background-color: var(--button-background-color); 
    border-radius: 40px;
    color: var(--button-word-color);
}
/* -------------------[MAIN-THREE-CONTAINERS]---------------------------- */
.header-container-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    height: 5.813rem;
}
.main-container-wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.footer-container-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    height: 9.938rem;
    background-color: var(--light-grey-color);
}

/* -------------------[HEADER-CONTAINER]----------------------------- */
.header-nav-wrapper{
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.47%;
    font-size: 1rem;
}

/*-----Left navigation design-----*/
.header-nav-wrapper>.left-nav-section{
    width: 123px;
    height: 35.78px;
}
.main-logo-image{
    width: 100%;
    height: 100%;
}

/*-----center navigation design-----*/
.header-nav-wrapper>.center-nav-section{
    width: 35%;
}
.header-nav-wrapper>.center-nav-section>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----Right navigation design-----*/
.header-nav-wrapper>.right-nav-section{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-icon-size{
    width: 1.268rem;
    height: 1.268rem;
}
.profile-icon-size{
    width: 1.25rem;
    height: 1.25rem;
}
.cart-icon-size{
    width: 1.5rem;
    height: 1.5rem;
}
.icon-image{
    width: 100%;
    height: 100%;
}
.hamburger, .menu{
    display: none;
}
/* -----------------------MAIN CONTAINER STYLE--------------------------- */

/* <----------------[1) HERO BANNER SECTION-----------------> */

/* WHOLE DIVISION CONTAINER */
.hero-banner-section{
    padding-left: 2.08%;
    height: 47.875rem;
    display: flex;
}
/* ----------------Left side style----------------- */
.hero-banner-left-part{
    width: 50%;
}
.hero-banner-left-part>h1{
    padding-top: 82px;
}
.hero-banner-left-part>button{
    margin-top: 40.3px;
    padding: 15px 29px;
    gap: 20px;
}
.about-hero-banner{
    max-width: 100%;
    height: 338px;
    padding-left: 1.392%;
    margin-top: 22.13px;
    background-color: var(--white-color);
}
.about-hero-banner>.first-line{
    margin-top: 58px;
}
.about-hero-banner>.second-line{
    margin-top: 41px;
}
.about-hero-banner>.third-line{
    margin-top: 65px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.about-hero-banner>.third-line>:first-child{
    opacity: 0.7;
}
.about-hero-banner>.third-line>:last-child{
    opacity: 0.5;
}
/* -------------right side style--------------- */
.hero-banner-right-part{
    width: 50%;
}
.hero-banner-right-part>.hero-image{
    width: 100%;
    height: 100%;
}
/* <----------------2) PARAGRAPH-SECTION-----------------> */

.paragraphs-section{
    margin-top: 82px;
    display: flex;
    flex-direction: column;
}
.paragraphs-section>.paragraphs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0% 3.47%;
    
}
.paragraphs-section>.paragraphs>.para-one{
    width: 48%;
}
.paragraphs-section>.paragraphs>.para-two{
    width: 48%;
}
.learn-more-division{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.learn-more-division>h1{
    margin-right: 2%;
}
/* <----------------3) SUB-BANNER-SECTION-----------------> */
.sub-banner-section{
    position: relative;
    height: 729px;
    margin-top: 4rem;
}
.hand-image-section{
    width: 90%;
    margin: auto 5%;
}
#image-on-hand{
    width: 100%;
    height: 100%;
}
.image-backside-section{
    padding-bottom: 20px;
    z-index: -1;
    position:absolute;
    bottom: 70px;
    width: 100%;
    height: 436px;
    background-color: var(--light-grey-color);
    display: flex;
    align-items: flex-end;
}
.arrow-images-section{
    display: flex;
}
.image-backside-section>.words-inside{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
}
.image-backside-section>.words-inside>:nth-child(2){
    width: 80%;
    text-align: center;
}
.arrow-images-section{
    width: 8%;
    justify-content: space-between;
}
.arrow-beside-banner-image{
    width: 2.604rem;
    height: 2.604rem;
}
.arrow-beside-banner-image>img{
    width: 100%;
    height: 100%;
}
/*--------------------4) SHOP-SECTION------------------------*/
.shop-section>h5{
    margin-top: 50px;
    padding-left: 5%;
}
.words-with-button{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}
.shop-section>.words-with-button>:first-child{
    margin-top: 37px;
    width: 60%;
}
.shop-section>.words-with-button>button{
    margin-top: 37px;
    width: 14%;
    padding: 15px 29px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}
.gallery{
    margin-top: 50px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    width: 95%;
    overflow-x:scroll;
    -ms-overflow-style: none; /*internet explorer*/
    scrollbar-width: none; /*fire fox browser*/
}
.gallery::-webkit-scrollbar{
    display: none; /* chrome browser */
}
.gallary-image-wrapper{
    max-width: 368px;
    max-height: 610px;
    margin-right: 30px;
}
.gallary-image-wrapper>img{
    width: auto;
    height: auto;
}
.amount{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.icon-near-learn-more-heading{
    height: 30px;
    width: 30px;
}
.icon-near-learn-more-heading>img{
    width: 100%;
    height: 100%;
}

/*--------------------5) REVIEWS-SECTION------------------------*/
.reviews-section{
    display: flex;
    padding: 0 3.47%;
    margin-top: 8%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* reviews - part ONE */
.reviews-part-1{
    width: 25%;
}
.reviews-part-1>:nth-child(2){
    margin-top: 26px;
}
/* reviews - part TWO */
.reviews-part-2{
    width: 65%;
    padding: 1.5%;
}
/* reviews - part THREE */
.reviews-part-3{
    width: 4.8%;
}
.reviews-part-3>.arrow-images{
    display: flex;
    justify-content: space-between;
}
.review-section-arrow-icon{
    width: 1.912rem;
    height: 1.912rem;
}
.review-section-arrow-icon>img{
    width: 100%;
    height: 100%;
}
.stars-section{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 50%;
}
.stars-section>ul{
    display: flex;
}
.stars-section+p{
    margin-top: 15px;
}

/*--------------------6) AUTHOR-SECTION------------------------*/
.author-section{
    margin-top: 59px;
    text-align: center;
}
.author-section>p{
    margin-top: 11px;
}
/*--------------------7) TWO-IMAGES-SECTION------------------------*/
.two-images-section{
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    justify-content: space-between;
}
.two-images-section>.first-image{
    width: 38%;
}
.two-images-section>.second-image{
    width: 58%;
}

/*--------------------8) FINAL-IMAGE-SECTION------------------------*/
.final-image-section{
    width: 90%;
    height: 746px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(../assets/images/final-background-image.jpg);
    background-size: 100% 100%;
    padding-left: 116px;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#final-image{
    width: 100%;
    height: 100%;
}
.final-image-section>div>p{
    margin-top: 9px;
}
.checkItOut-section{
    margin-top: 9px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.checkItOut-section>h4{
    margin-right: 20px;
}
/*--------------------9) FINAL-SECTION------------------------*/
.final-section{
    display: flex;
    width: 100%;
    padding: 50px 5% 80px 5%;
    justify-content: space-between;
}
.final-section>h1{
    width: 60%;
}
.final-section>.email-with-sub-button{
    width: 40%;
}
.email-with-sub-button{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.email-with-sub-button>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9.84375px 29.5312px;
}
::placeholder {
    color: black;
    opacity: 0.8;
    font-size: 1rem;
}
/* -----------------------FOOTER CONTAINER STYLE--------------------------- */
.footer-nav-wrapper{
    height: 9.938rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.47%;
}
.footer-nav-wrapper>.left-nav-section{
    width: 123px;
    height: 35.78px;
}
.footer-nav-wrapper>.main-logo-image{
    width: auto;
}
.footer-nav-wrapper>.center-nav-section{
    width: 35%;
}
.footer-nav-wrapper>.center-nav-section>ul, .footer-nav-wrapper>.right-nav-section>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav-wrapper>.right-nav-section{
    width: 15%;
}

/* Media query for 768px*/

@media screen and (max-width: 768px){
/*hamburger style for mobile view*/

.menuItem {
    display: inline-block;
    margin: 1rem 4rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid grey;
  }
  .hamburger, .menu{
    display: block;
}
.closeIcon {
    display: none;
  }
  .menuItem:hover {
    color: grey;
    border-bottom: none;
  }
  
  .hamburger {
    position: absolute;
    z-index: 100;
    top: 2rem;
    right: 1rem;
    padding: 4px;
    border: none;
    background: white;
    cursor: pointer;
  }
  
  i{
    background-color: white;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }
    /* -------------------------HEADER CONTAINER STYLES---------------------- */
    .header-container-wrapper{
        height: 90px;
    }
    .header-nav-wrapper{
        margin: auto 2.291%;
    }
    #hamburger-for-mobile-view{
        display: block;
        cursor: pointer;
    }
    #middle-nav-bar{
        width: 100%;
    }
    #middle-nav-bar.show{
        display: flex;
        flex-direction: column;
    }
    .header-nav-wrapper>.center-nav-section{
        display: none;
    }
    .header-nav-wrapper>.right-nav-section{
        width: 30%;
        align-items: center;
        margin-right: 10%;
    }
    .header-nav-wrapper>.right-nav-section>button{
        border: none;
        background-color: inherit;
    }
    .header-nav-wrapper>.left-nav-section{
        width: 98px;  /* 73px; */
        height: 28.5px;   /* 73px; */
    }
    .icon-size{
        width: 20.29px;
        height: 20.29px;
    }
    /* -------------------------MAIN CONTAINER STYLES-------------------------- */

    /* <-----------------------1) FIRST-SECTION---------------------------> */
    .hero-banner-section{
        height: 100%;
    }
    .hero-banner-left-part{
        height: 90%;
    }
    .hero-banner-right-part{
        height: 100%;
    }
    .about-hero-banner{
        width: 100%;
        height: 50%;
    }
    .hero-banner-left-part>h1{
        font-size: 3.0rem;
        padding-top: 10%;
    }
    .about-hero-banner{
        margin-top: 10%;
    }
    .about-hero-banner>.second-line{
        margin-top: 25px;
        font-size: .825rem;
    }
    .about-hero-banner>.third-line{
        margin-top: 35px;
        font-size: 0.625rem;
        width: 60%;
        justify-content: space-between;
    }
    /* <--------------------------2) SECOND-SECTION------------------------------> */
    .paragraphs-section{
        margin-top: 70px;
    }
    .paragraphs-section>.paragraphs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        margin-left: 5%;
    }
    .paragraphs-section>.paragraphs>.para-one{
        font-size: 1.25rem;
        line-height: 25px;
        width: 100%;
        text-align: center;
    }
    .paragraphs-section>.paragraphs>.para-two{
        margin-top: 40px;
        text-align: center;
        font-size: 1.575rem;
        line-height: 30px;
        width: 100%;
    }
    .learn-more-division{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .learn-more-division>h1{
        font-size: 1rem;
    }
    .learn-more-division>img{
        height: 20px;
        width: 20px;
    }
    /* <------------------------3) HAND-IMAGE-SECTION-----------------------------> */
    .sub-banner-section{
        position: relative;
        height: 400px;
    }
    .hand-image-section{
        width: 90%;
        margin: auto 5%;
        position: relative;
    }
    .image-backside-section{
        height: 60%;
        position:absolute;
        bottom: 0;
    }
    .words-inside>p{
        width: 10%;
    }
    .words-inside>.arrow-images-section{
        width: 12%;
    }
    .amount{
        padding-right: 20px;
    }
    /*-------------------------------4) SHOP-SECTION-----------------------------------*/
    .words-with-button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .shop-section>.words-with-button>:first-child{
        font-size: 2.3rem;
    }
    .photos{
        max-height: 348px;
        width: 260px;
        margin-right: 20px;
    }
    .words-with-button>h1{
        font-size: .884rem;
    }
    .shop-section>.words-with-button>button{
        width: 18%;
    }
    /*------------------------------5) REVIEWS-SECTION------------------------------------*/
    .reviews-section{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .reviews-part-1>h3{
        font-size: 1rem;
    }
    .reviews-part-1>p{
        font-size: .781rem;
    }
    .reviews-part-1,.reviews-part-2,.reviews-part-3{
        width: 100%;
        padding: 5px;
    }
    .star-with-number{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .reviews-part-1>h3+p{
        width:65%;
        margin-left: auto;
        margin-right: auto;
    }
    .reviews-part-2>h3{
        line-height: 40px;
        text-align: center;
        font-size: 1.57rem;
        padding: 30px;
    }
    /*--------------------------------6) AUTHOR-SECTION---------------------------------*/
    .author-section{
        text-align: left;
        margin-left: 5%;
        width: 40%;
        margin-top: -45px;
        padding-left: 10px;
    }
    .arrow-images{
        display: flex;
        justify-content: end;
        width: 11%;
        margin-left: auto;
    }
    /*-------------------------------7) TWO-IMAGES-SECTION------------------------------*/
    /* No querries*/
    /*-------------------------------8) FINAL-IMAGE-SECTION------------------------------*/
    .final-image-section{
        max-height: 343px;
        padding: 70px;
    }
    .final-image-section>div>h1{
        font-size: 2rem;
        line-height: 40px;
    }
    .final-image-section>div>p{
        font-size: .8rem;
        line-height: 19px;
    }
    .checkItOut-section>h4{
        font-size: 1rem;
    }
    /*-----------------------------9) FINAL-SECTION--------------------------------------*/
    .final-section{
        display: flex;
        flex-direction: column;
    }
    .final-section>h1{
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    .final-section>.email-with-sub-button{
        width: 100%;
    }
    /* -----------------------FOOTER CONTAINER STYLE--------------------------- */
    .footer-nav-wrapper{
        height: 481px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .footer-nav-wrapper>.center-nav-section{
        display: flex;
        flex-direction: column;
        height: 30%;
    }
    .footer-nav-wrapper>.center-nav-section>ul{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footer-nav-wrapper>.right-nav-section>ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-nav-wrapper>.right-nav-section{
        width: 50%;
        border-top: 3px solid #C7C7C7;
        padding-top: 80px;
    }
    .footer-container-wrapper{
        height: 481px;
        margin: 0 auto;
        background-color: var(--light-grey-color);
    }
}

/* <-------------------------------MEDIA QUERY--------------------------------> */
@media (max-width: 425px) {

    /* ---------------------------HEADER CONTAINER STYLES------------------------- */
    .header-container-wrapper{
        height: 87px;
    }
    .header-nav-wrapper{
        padding: auto 2.291%;
        height: 87px;
    }
    #hamburger-for-mobile-view{
        display: block;
    }
    .header-nav-wrapper>.center-nav-section{
        display: none;
    }
    .header-nav-wrapper>.right-nav-section{
        width: 30%;
        align-items: center;
    }
    .search-icon-size{
        width: .951rem;
        height: .951rem;
    }
    .profile-icon-size{
        width: .938rem;
        height: .938rem;
    }
    
    .cart-icon-size{
        width: 1.125rem;
        height: 1.125rem;
    }
    .hamburger-icon-size{
        width: 1.188rem;
        height: 0.5rem;
    }
    /*hamburger style*/
    .hamburger {
        position: absolute;
        z-index: 100;
        top: 1.75rem;
        right: 1rem;
        padding: 4px;
        border: none;
        background: white;
        cursor: pointer;
    }
    /* ------------------------MAIN CONTAINER STYLES------------------------- */

    /* <------------------------1) FIRST-SECTION--------------------------> */
    .hero-banner-section{
        height: 300px;
    }
    .hero-banner-left-part>h1{
        font-size: 1.8rem;
        padding-top: 15px;
    }
    .hero-banner-left-part>button{
        height: 26.13px;
        width: 30%;
        padding: 5px 0px;
        font-size: 0.606rem;
        margin-top: 15px;
    }
    .about-hero-banner{
        margin-top: 50px;
    }
    .about-hero-banner>.first-line{
        font-size: 1rem;
        margin-top: 5px;
    }
    .about-hero-banner>.second-line{
        margin-top: 15px;
        font-size: .625rem;
    }
    .about-hero-banner>.third-line{
        margin-top: 40px;
        font-size: 0.625rem;
    }
    .about-hero-banner>.third-line>h1{
        margin-top: 10px;
        margin-right: 10px;
    }
    /* <----------------------------2) SECOND-SECTION----------------------------> */
    .paragraphs-section{
        margin-top: 40px;
    }
    .paragraphs-section>.paragraphs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        margin-left: 5%;
    }
    .paragraphs-section>.paragraphs>.para-one{
        font-size: 0.75rem;
        font-weight: 250;
        line-height: 25px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .paragraphs-section>.paragraphs>.para-two{
        margin: 0 auto;
        margin-top: 20px;
        font-family: Lora;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 30px;
        width: 95%;
    }
    .learn-more-division{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
    .learn-more-division>h1{
        font-size: 0.75rem;
    }
    .icon-near-learn-more-heading>img{
        height: 100%;
        width: 100%;
    }
    .icon-near-learn-more-heading{
        height: 1rem;
        width: 1rem;
    }
    /* <--------------------------3) THIRD-SECTION--------------------------> */
    .sub-banner-section{
        position: relative;
        height: 290px;
        margin-top: 2rem;
        z-index: 1;
    }
    .image-backside-section{
        height: 130px;
    }
    .image-backside-section>.words-inside>p{
        font-size: 0.6rem;
        line-height: 24px;
        width: 10%;
    }
    .image-backside-section>.words-inside>.everything_word{
        width: 70%;
        font-size: .9rem;
    }
    .arrow-beside-banner-image{
        width: 1rem;
        height: 1rem;
    }
    .arrow-beside-banner-image>img{
        width: 100%;
        height: 100%;
    }
    /*------------------------------4) SHOP-SECTION------------------------------------*/
    
    .shop-section>h5{
        margin-top: 0;
        font-size: 0.438rem;
    }
    .words-with-button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .shop-section>.words-with-button>:first-child{
        margin-top: 22px;
        font-size: 1.25rem;
    }
    .shop-section>.words-with-button>button{
        font-size: .7rem;
        height: 28px;
        width: 25%;
    }
    .photos{
        max-height: 348px;
        width: 260px;
        margin-right: 20px;
    }
    /*-----------------------------5) REVIEW-SECTION----------------------------------*/

    .reviews-section{
        display: flex;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        margin-top: 40px;
        flex-direction: column;
    }
    .reviews-part-1,.reviews-part-2,.reviews-part-3{
        width: 100%;
    }
    .reviews-part-3{
        padding-bottom: 50px;
    }
    .reviews-part-1>p>span{
        display: none;
    }
    .star-with-number{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }
    .reviews-part-1>h3{
        font-size: 0.625rem;
    }
    .reviews-part-1>h3+p{
        width:65%;
        font-size: 0.438rem;
        margin-left: auto;
        margin-right: auto;
    }
    .reviews-part-2>h3{
        line-height: 30px;
        display: flex;
        text-align: center;
        font-size: 1rem;
        padding: 30px;
    }
    .reviews-part-3{
        padding: 0;
    }
    .reviews-part-3>.arrow-images{
        width: 100%;
    }
    .review-section-arrow-icon{
        width: 29.17px;
        height: 29.17px;
    }
    .review-section-arrow-icon>img{
        width: 100%;
        height: 100%;
    }
    .arrow-images{
        display: flex;
        justify-content: end;
        padding-left: 80%;
    }
    /*-------------------------------6) AUTHOR-SECTION-------------------------------*/
    .author-section{
        text-align: left;
        margin-left: 5%;
        width: 40%;
        margin-top: -38px;
    }
    .author-section>h3{
        font-size: 1rem;
    }
    .author-section>p{
        font-size: 0.75rem;
    }
    /*-------------------------------7) TWO-IMAGES-SECTION------------------------------*/
    /* No querries*/
    /*----------------------------8) FINAL-IMAGE-SECTION-------------------------------*/
    .final-image-section{
        height: 243px;
        padding: 40px;
    }
    .final-image-section>div>h1{
        font-size: 1.3rem;
        line-height: 25px;
    }
    .final-image-section>div>p{
        font-size: .6rem;
        line-height: 19px;
    }
    .checkItOut-section>h4{
        font-size: .8rem;
    }
    /*--------------------------------9) FINAL-SECTION----------------------------------*/
    .final-section{
        display: flex;
        flex-direction: column;
    }
    .final-section>h1{
        width: 100%;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .final-section>.email-with-sub-button{
        width: 100%;
        border-bottom: 1px solid black;
    }
    .email-with-sub-button>button{
        width: 30%;
    }
    /* ------------------------------FOOTER CONTAINER STYLE-------------------------------- */
    .footer-nav-wrapper{
        height: 481px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .footer-nav-wrapper>.center-nav-section{
        display: flex;
        flex-direction: column;
        height: 30%;
    }
    .footer-nav-wrapper>.center-nav-section>ul{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footer-nav-wrapper>.right-nav-section>ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-nav-wrapper>.right-nav-section{
        width: 50%;
        border-top: 3px solid #C7C7C7;
        padding-top: 80px;
    }
    .footer-container-wrapper{
        height: 481px;
        margin: 0 auto;
        background-color: var(--light-grey-color);
    }
}
